<div>
    <table id="brand1">
        <tr>
            <th colspan="7" style="text-align: center;">
                <mat-checkbox>Turan Makina</mat-checkbox>
            </th>
        </tr>
        <tr>
            <th>Qty</th>
            <th>Select</th>
            <th>Min Qty</th>
            <th>Unit Price</th>
            <th>Payment</th>
            <th>Total</th>
            <th>ETA</th>
        </tr>
        <tr>
            <td>
                <input type="text" style="width: 30px;" />
            </td>
            <td>
                <mat-checkbox></mat-checkbox>
            </td>
            <td>
                1
            </td>
            <td>
                SAR 5.3
            </td>
            <td>
                1,000
            </td>
            <td>
                SAR 0
            </td>
            <td>
                2 days
            </td>

        </tr>
        <tr>
            <td>
                <input type="text" style="width: 30px;" />
            </td>
            <td>
                <mat-checkbox></mat-checkbox>
            </td>
            <td>
                1
            </td>
            <td>
                SAR 6.62
            </td>
            <td>
                1,000
            </td>
            <td>
                SAR 0
            </td>
            <td>
                2 days
            </td>

        </tr>
        <tr>
            <td colspan="5">
            </td>
            <td>
                <b>SAR 0</b>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td colspan="5">
            </td>
            <td>
                <b>SAR 50</b>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td colspan="5">
            </td>
            <td>
                <b>3 days</b>
            </td>
            <td>

            </td>
        </tr>



    </table>
</div>