#brand1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #brand1 td, #brand1 th {
    border: 1px solid black;
    padding: 8px;
  }
  
  #brand1 tr:nth-child(even){background-color: #FFFAEE;}
  
  #brand1 tr:hover {background-color: #FFFAEE;}
  
  #brand1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    
    background-color: #FFF2CC;
    color: black;
  }

  .mat-form-field{
      width: 30px;
  }