/deep/ .demo-tab-group {
    border: 1px solid #e8e8e8;
  }


  /deep/  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: green;
  }

  .mat-elevation-z4 {
    margin: 10px 5px;
    height: 100px;
    background-color: white;
    width: 97%;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

cdk-dashcard  {
  margin: 10px 5px;
  height: 100px;
  background-color: white;
}

.mat-drawer-container {
  background-color: #e8eaf6;
  color: rgba(0, 0, 0, 0.87);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.odometer, .odometer-inside, .odometer-digit, .odometer-digit-spacer, .odometer-digit-inner, .odometer-ribbon, .odometer-ribbon-inner, .odometer-value, .odometer-formatting-mark {
  color: inherit;
  font-size: inherit;
}

.odometer, .odometer-inside, .odometer-digit, .odometer-digit-spacer, .odometer-digit-inner, .odometer-ribbon, .odometer-ribbon-inner, .odometer-value, .odometer-formatting-mark {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}

.odometer, .odometer-inside, .odometer-digit, .odometer-digit-spacer, .odometer-digit-inner, .odometer-ribbon, .odometer-ribbon-inner, .odometer-value, .odometer-formatting-mark {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
}

.odometer, .odometer-inside, .odometer-digit, .odometer-digit-spacer, .odometer-digit-inner, .odometer-ribbon, .odometer-ribbon-inner, .odometer-value, .odometer-formatting-mark {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;

}

.odometer, .odometer-inside, .odometer-digit, .odometer-digit-spacer, .odometer-digit-inner, .odometer-ribbon, .odometer-ribbon-inner, .odometer-value, .odometer-formatting-mark {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

cdk-dashcard .mat-body-1 {
  margin: 0px;
  color: white;
}

cdk-dashcard .border-top {
    border-top: 1px solid white;
}

.icon-ft-mr-pd {
  font-size: 48px;
                margin: auto;
                padding: 0px 0px 0px 0px;
}

.card-wd {
  width:25%
}

