<div style="display: flex;">
    <div class="cdk-dashcard card-wd">
        <div class="dashcard mat-elevation-z4 " style="flex-direction: row; box-sizing: border-box; display: flex;">
            <div
                style="flex: 1 1 40%; box-sizing: border-box; flex-direction: row; display: flex; place-content: center; align-items: center; max-width: 40%; background: rgb(121, 134, 203);">
                <mat-icon class="cardIcon mat-icon material-icons icon-ft-mr-pd" style="color: white;" role="img"
                    aria-hidden="true">
                    card_travel</mat-icon>
            </div>
            <div
                style="flex: 1 1 60%; box-sizing: border-box; flex-direction: column; display: flex; max-width: 60%; place-content: center; align-items: center; background: rgb(92, 107, 192);">

                <div style="color: white;font-size: 40px">
                    <div>
                        <div class="odometer odometer-theme-default">
                            <div class="odometer-inside"><span class="odometer-digit"><span
                                        class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                                            class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                    class="odometer-value">1</span></span></span></span></span><span
                                    class="odometer-formatting-mark">,</span><span class="odometer-digit"><span
                                        class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                                            class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                    class="odometer-value">2</span></span></span></span></span><span
                                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                        class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                    class="odometer-value">2</span></span></span></span></span><span
                                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                        class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                    class="odometer-value">1</span></span></span></span></span>
                            </div>
                        </div>
                    </div>

                </div>
                <p class="mat-body-1 border-top" style="color:white">
                    Project
                </p>
            </div>
        </div>
    </div>
    <div class="cdk-dashcard card-wd">
        <div class="dashcard mat-elevation-z4 " style="flex-direction: row; box-sizing: border-box; display: flex;">
            <div
                style="flex: 1 1 40%; box-sizing: border-box; flex-direction: row; display: flex; place-content: center; align-items: center; max-width: 40%; background: rgb(100, 181, 246);">
                <mat-icon class="cardIcon mat-icon material-icons icon-ft-mr-pd" style="color: white;" role="img"
                    aria-hidden="true">
                    library_books</mat-icon>
            </div>
            <div
                style="flex: 1 1 60%; box-sizing: border-box; flex-direction: column; display: flex; max-width: 60%; place-content: center; align-items: center; background: rgb(66, 165, 245);">

                <div style="color: white;font-size: 40px">
                    <div>
                        <div class="odometer odometer-theme-default">
                            <div class="odometer-inside"><span class="odometer-digit"><span
                                        class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                                            class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                    class="odometer-value">1</span></span></span></span></span><span
                                    class="odometer-formatting-mark">,</span><span class="odometer-digit"><span
                                        class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                                            class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                    class="odometer-value">2</span></span></span></span></span><span
                                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                        class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                    class="odometer-value">2</span></span></span></span></span><span
                                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                        class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                    class="odometer-value">1</span></span></span></span></span>
                            </div>
                        </div>
                    </div>

                </div>
                <p class="mat-body-1 border-top" style="color:white">
                    Project
                </p>
            </div>
        </div>
    </div>
    <div class="cdk-dashcard card-wd">
        <div class="dashcard mat-elevation-z4 " style="flex-direction: row; box-sizing: border-box; display: flex;">
            <div
                style="flex: 1 1 40%; box-sizing: border-box; flex-direction: row; display: flex; place-content: center; align-items: center; max-width: 40%; background: rgb(77, 182, 172);">
                <mat-icon class="cardIcon mat-icon material-icons icon-ft-mr-pd" style="color: white;" role="img"
                    aria-hidden="true">
                    thumb_up</mat-icon>
            </div>
            <div
                style="flex: 1 1 60%; box-sizing: border-box; flex-direction: column; display: flex; max-width: 60%; place-content: center; align-items: center; background: rgb(38, 166, 154);">

                <div style="color: white;font-size: 40px">
                    <div>
                        <div class="odometer odometer-theme-default">
                            <div class="odometer-inside"><span class="odometer-digit"><span
                                        class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                                            class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                    class="odometer-value">1</span></span></span></span></span><span
                                    class="odometer-formatting-mark">,</span><span class="odometer-digit"><span
                                        class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                                            class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                    class="odometer-value">2</span></span></span></span></span><span
                                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                        class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                    class="odometer-value">2</span></span></span></span></span><span
                                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                        class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                    class="odometer-value">1</span></span></span></span></span>
                            </div>
                        </div>
                    </div>

                </div>
                <p class="mat-body-1 border-top" style="color:white">
                    Project
                </p>
            </div>
        </div>
    </div>
    <div class="cdk-dashcard card-wd">
        <div class="dashcard mat-elevation-z4 " style="flex-direction: row; box-sizing: border-box; display: flex;">
            <div
                style="flex: 1 1 40%; box-sizing: border-box; flex-direction: row; display: flex; place-content: center; align-items: center; max-width: 40%; background: rgb(129, 199, 132)">
                <mat-icon class="cardIcon mat-icon material-icons icon-ft-mr-pd" style="color: white;" role="img"
                    aria-hidden="true">
                    comment</mat-icon>
            </div>
            <div
                style="flex: 1 1 60%; box-sizing: border-box; flex-direction: column; display: flex; max-width: 60%; place-content: center; align-items: center; background: rgb(102, 187, 106)">

                <div style="color: white;font-size: 40px">
                    <div>
                        <div class="odometer odometer-theme-default">
                            <div class="odometer-inside"><span class="odometer-digit"><span
                                        class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                                            class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                    class="odometer-value">1</span></span></span></span></span><span
                                    class="odometer-formatting-mark">,</span><span class="odometer-digit"><span
                                        class="odometer-digit-spacer">8</span><span class="odometer-digit-inner"><span
                                            class="odometer-ribbon"><span class="odometer-ribbon-inner"><span
                                                    class="odometer-value">2</span></span></span></span></span><span
                                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                        class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                    class="odometer-value">2</span></span></span></span></span><span
                                    class="odometer-digit"><span class="odometer-digit-spacer">8</span><span
                                        class="odometer-digit-inner"><span class="odometer-ribbon"><span
                                                class="odometer-ribbon-inner"><span
                                                    class="odometer-value">1</span></span></span></span></span>
                            </div>
                        </div>
                    </div>

                </div>
                <p class="mat-body-1 border-top" style="color:white">
                    Project
                </p>
            </div>
        </div>
    </div>

</div>

<div style="display: flex;margin-top: 30px;">
    <div style="width:50%;padding: 25px;">
        <mat-card style="margin: 17px 5px;
       
        background-color: gainsboro;">
            <mat-card-content>
                <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
                    [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="isDoughnut"
                    (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
                </ngx-charts-pie-chart>
            </mat-card-content>
        </mat-card>        
    </div>
    <div style="width:50%;padding: 25px;">
        <mat-card style="margin-top: 17px;background-color: gainsboro;">
            <mat-card-content style="margin: 0px 34px;
            height: 405px;
            background-color: gainsboro;
            ">
        
                <mat-grid-list cols="4" rowHeight="20px" style="margin-top: 5vh;">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-label>Projects Value</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
        
                        <mat-progress-bar mode="determinate" value="100" class="progressBar1"></mat-progress-bar>
        
        
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        SR. 30000
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-label>Total Spending</mat-label>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
        
                        <mat-progress-bar mode="determinate" value="100" class="progressBar2"></mat-progress-bar>
        
        
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        SR. 30000
                    </mat-grid-tile>
        
        
        
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>



