.app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.h-100 {
    height: 100vh !important;
}

.bg-premium-dark {
    background-image: linear-gradient(to right, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.45) 100%) !important;
}
.d-flex {
    display: flex !important;
}
.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}
.ml-auto, .mx-auto {
    margin-left: auto !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
@media (min-width: 768px) {
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.app-logo-inverse {
    height: 23px;
    width: 97px;
    /* background: url(assets/images/logo.png); */
}
.modal-dialog {
    box-shadow: 0 0.76875rem 2.4875rem rgba(52,58,64,0.3), 0 1.3375rem 1.70625rem rgba(52,58,64,0.3), 0 0.55rem 0.53125rem rgba(0,0,0,0.05), 0 0.225rem 0.4375rem rgba(52,58,64,0.3);
    border-radius: .25rem;
}
.w-100 {
    width: 100% !important;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}
h5, .h5 {
    font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

.app-login-box h4 {
    margin-bottom: 1.5rem;
    font-weight: normal;
    display: flex;
}
.mt-2, .my-2 {
    margin-top: .5rem !important;
    
}
h4, .h4 {
    font-size: 1.5rem;
}
.text-success {
    color: #3ac47d !important;
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row>.col, .form-row>[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}
@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.position-relative {
    position: relative !important;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    transition: all .2s;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
}

.mt-3, .my-3 {
    margin-top: 1rem !important;
}

.position-relative {
    position: relative !important;
}

.form-check {
    display: block;
    padding-left: 1.25rem;
}

input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.form-check-label {
    margin-bottom: 0;
}

label {
    display: inline-block;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
}

.text-primary {
    color: #3f6ad8 !important;
}

a, button, .btn {
    outline: none !important;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a {
    color: #3f6ad8;
    text-decoration: none;
    background-color: transparent;
    font-size: 14px;
    text-decoration: underline;
}

.modal-footer {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.modal-header, .modal-footer {
    background: #f8f9fa;
}
.text-center {
    text-align: center !important;
}
.d-block {
    display: block !important;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2651be;
    border-color: #244cb3;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary.btn-shadow {
    box-shadow: 0 0.125rem 0.625rem rgba(63,106,216,0.4), 0 0.0625rem 0.125rem rgba(63,106,216,0.5);
}

.btn-lg.btn-wide, .btn-group-lg>.btn-wide.btn {
    padding: .5rem 2rem;
    font-size: 1.1rem;
    line-height: 1.5;
}

.btn {
    position: relative;
    transition: color 0.15s,background-color 0.15s,border-color 0.15s,box-shadow 0.15s;
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8;
}
a, button, .btn {
    outline: none !important;
}