<!-- order details -->
<!-- <div class="app-container"> -->
    <!-- <div class="h-100 bg-premium-dark"> -->
        <!-- <div class="d-flex h-100 justify-content-center align-items-center"> -->
            <!-- <div class="mx-auto app-login-box col-md-8"> -->
                <!-- <div class="app-logo-inverse mx-auto mb-3">

                </div> -->
                <!-- <div class="modal-dialog w-100"> -->
                    <!-- <div class="modal-content"> -->
                        <div class="modal-body">
                            <h5 class="modal-title">

                            </h5>
                            <h4 class="mt-2">
                                <div style="text-decoration: underline;
                                color: grey;
                                text-align: right;
                                width: 50%;">Purchase Order</div>
                                 <button class="close" mat-button (click)="onNoClick()">X</button>
                                <!-- <span>It only takes a <span class="text-success">few seconds</span> to create your
                                    account</span> -->
                                <div style="
                                    text-align: right;
                                    font-weight: 500;">OF1342<small style="text-decoration: underline;
    color: blue;
    display: block;">PR</small></div>
                            </h4>

                            <div class="divider row"></div>
                            <div class="col-md-12">
                                <mat-icon style="font-size: 42px;">local_atm</mat-icon>
                                <a style="margin-left: 46px;">Terms
                                    and Conditions</a>
                                <!-- <textarea matInput></textarea> -->
                            </div>
                            <div class="divider row"></div>
                            <!-- <div class="form-row">
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><input name="email" id="exampleEmail"
                                            placeholder="Email here..." type="email" class="form-control"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><input name="text" id="exampleName"
                                            placeholder="Name here..." type="text" class="form-control"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><input name="password"
                                            id="examplePassword" placeholder="Password here..." type="password"
                                            class="form-control"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="position-relative form-group"><input name="passwordrep"
                                            id="examplePasswordRep" placeholder="Repeat Password here..."
                                            type="password" class="form-control"></div>
                                </div>
                            </div> -->
                            <div class="mt-3 position-relative form-check"><input name="check" id="exampleCheck"
                                    type="checkbox" class="form-check-input"><label for="exampleCheck"
                                    class="form-check-label" style="font-size: 22px;">Six direction <a>Terms
                                        and Conditions</a>.</label></div>
                            <div class="divider row"></div>
                            <div class="mt-3 position-relative form-check"><input name="check" id="exampleCheck"
                                    type="checkbox" class="form-check-input"><label for="exampleCheck"
                                    class="form-check-label" style="font-weight: 500;">xyz co. <a>Terms
                                        and Conditions</a>.</label></div>
                            <div class="divider row"></div>
                            <div class="col-md-12">
                                <mat-label style="font-weight: 500;">General Comments</mat-label>
                                <textarea matInput style="display: block;
                                width: 50%;
                                height: 21ch;"></textarea>
                            </div>
                            <!-- <h6 class="mb-0">Already have an account? <a class="text-primary">Sign in</a> | <a
                                    class="text-primary">Recover Password</a></h6> -->
                        </div>
                        <div class="modal-footer d-block text-center">
                            <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg">Issue
                                POs</button>
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->