<mat-grid-list cols="12" rowHeight="50px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-label style="font-size: 25px;
        font-weight: 500;">Project User</mat-label>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="10" [rowspan]="1">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <!-- <mat-label style="font-size: 25px;
        font-weight: 500;">WS190022</mat-label> -->
    </mat-grid-tile>
</mat-grid-list>

<div class="main-content" style="width: 1000px;margin-left: 5%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger" style="display: flex;">
                        <h4 class="card-title" style="width: 80%;"> Project User</h4>
                        <!-- <h4 class="card-title">WS190022</h4> -->

                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="validate(documentEditForm.valid)" #documentEditForm="ngForm">
                            <div class="row">

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Project" [(ngModel)]="projectUserModel.userDetails"
                                           name="projectName" id="projectName"
                                            required="true">
                                        <span class="text-danger-error"
                                            *ngIf="!projectUserModel.userDetails && !isFilledAllRequiredField">
                                            Project User Details is required.
                                        </span>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="User Position" type="email"
                                            name="customerName" [(ngModel)]="projectUserModel.userPosition"
                                            id="customerName" required="true">
                                        <span class="text-danger-error"
                                            *ngIf="!projectUserModel.userPosition && !isFilledAllRequiredField">
                                            Project  User Position is required.
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>
                          
                         
                        
                            <button mat-raised-button type="submit" class="btn  saveButton" (click)="documentEditForm.ngSubmit.emit();"
                                >Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>