.labelDir {
  direction: ltr;
}
.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 500px;
}



.card {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
}

.card .card-header-danger .card-icon, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card .card-header-danger .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(19, 14, 14, 0.4);
}


.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back {
  background: green;
}

.card [class*=card-header-] {
  margin: 0px 15px 0;
  padding: 0;
  position: relative;
}

.card .card-header {
  z-index: 3 !important;
}

.card [class*=card-header-], .card[class*=bg-] {
  color: #fff;
}

.card .card-header .card-title {
  margin-bottom: 3px;
}

.card [class*=card-header-] .card-title a, .card [class*=card-header-] .card-title, .card [class*=card-header-] .icon i, .card[class*=bg-] .card-title a, .card[class*=bg-] .card-title, .card[class*=bg-] .icon i {
  color: #fff;
}

.card .card-title {
  margin-top: 0;
  margin-bottom: 15px;
}

.card .card-body {
  padding: 0.9375rem 20px;
  position: relative;
}

.card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card form {
  margin: 0;
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .col-md-5 {
      -webkit-box-flex: 0;
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
  }
}



.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}

.mat-form-field {
  display: block !important;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.25em;
}

.mat-form-field-wrapper {
  position: relative;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 0.25rem;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .4375em 0;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 180px;
}

.mat-form-field-infix {
  padding: .5em 0;
  border-top: .84375em solid transparent;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0,0,0,.38);
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  -webkit-animation: cdk-text-field-autofill-end 0s 1ms;
  animation: cdk-text-field-autofill-end 0s 1ms;
}

input.mat-input-element {
  margin-top: -0.0625em;
}

.mat-input-element, .mat-input-element::-webkit-search-cancel-button, .mat-input-element::-webkit-search-decoration, .mat-input-element::-webkit-search-results-button, .mat-input-element::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.mat-input-element {
  font: inherit;
  background: transparent;
  color: currentColor;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}

.mat-input-element {
  caret-color: #3f51b5;
}

button, input {
  overflow: visible;
}

.mat-form-field-label-wrapper {
  position: absolute;
  left: 0;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.mat-form-field-label-wrapper {
  top: -0.84375em;
  padding-top: .84375em;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  transform: perspective(100px);
  -ms-transform: none;
}

.mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  display: block;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgba(0,0,0,.54);
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.28125em;
}

.saveButton{
  float: right;
  color: white;
  background-color: green;
  font-weight: 400;
  padding: 0px 40px 0px 40px;
  cursor: pointer;
}

.deActiveButton {
  float: right;
  color: white;
  background-color: 0;
  font-weight: 400;
  // padding: 3px 2px 2px 12px;
  cursor: pointer;
  margin-right: 10px;
  background-color: red;
}

.label {
  font-size: 14px;
  line-height: 1.42857;
  color: #AAAAAA;
  font-weight: 400;

}

.borderHeader{
  border-bottom: 1px solid gainsboro;
  margin-bottom: 30px;
  cursor: pointer;
}

.svgHeight{
  height:100px;
}

.txTcolor{
  color: rgba(0,0,0,.54)
}

.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}


.close-panel.mat-button {
  top: 0;
  left: 634px;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
  float: left;
}