<div class="main-content" style="padding: 0px 25px 0px 25px;">

    <div *ngIf="!isShow">
        <div class="row borderHeader">
            <h3 class="card-title" style="margin-left: 17px;color: rgba(0,0,0,.54);">Warehouses & site Locations</h3>
            <button class="close-panel" mat-button (click)="onClickPanel()">X</button>
        </div>
      
        <div class="row borderHeader" style="height: 135px;" (click)="onClickPanel()">
            <div style="width: 30%;">
                <img class="svgHeight" src="../../../../../assets/icon/warehouse.svg" />
            </div>
            <div style="width: 50%;">
                <div class="txTcolor" style="font-size:30px">
                    Warehouse
                </div>
                <div class="txTcolor" style="font-size:16px">
                    Warehouse for general purpose
                </div>
            </div>
            <div style="width: 20%;text-align: right;">
                <mat-icon>arrow_forward_ios</mat-icon>
            </div>
        </div>

        <div class="row borderHeader" style="height: 135px;">
            <div style="width: 30%;">
                <img class="svgHeight" src="../../../../../assets/icon/hotel.svg" />
            </div>
            <div style="width: 50%;">
                <div class="txTcolor" style="font-size:30px">
                    Project Location
                </div>
                <div class="txTcolor" style="font-size:16px">
                    Project related location to used for specific project
                </div>
            </div>
            <div style="width: 20%;text-align: right;">
                <mat-icon>arrow_forward_ios</mat-icon>
            </div>
        </div>

        <div class="row borderHeader" style="height: 135px;">
            <div style="width: 30%;">
                <img class="svgHeight" src="../../../../../assets/icon/telecommuting.svg" />
            </div>
            <div style="width: 50%;">
                <div class="txTcolor" style="font-size:30px">
                    Office Location
                </div>
                <div class="txTcolor" style="font-size:16px">
                    Office location to used for delivery of small item and documents
                </div>
            </div>
            <div style="width: 20%;text-align: right;">
                <mat-icon>arrow_forward_ios</mat-icon>
            </div>
        </div>
        <div class="row borderHeader" style="height: 135px;">
            <div style="width: 30%;">
                <img class="svgHeight" src="../../../../../assets/icon/tree.svg" />
            </div>
            <div style="width: 50%;">
                <div class="txTcolor" style="font-size:30px">
                    Existing Location
                </div>
                <div class="txTcolor" style="font-size:16px">
                    Office location to used for delivery of small item and documents
                </div>
            </div>
            <div style="width: 20%;text-align: right;">
                <mat-icon>arrow_forward_ios</mat-icon>
            </div>
        </div>
    </div>


    <div class="container-fluid" *ngIf="isShow">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <div class="card-header" style="display: flex;">
                        <h4 class="card-title" style="width: 7%;">
                            <mat-icon style="font-size: 40px; color: rgba(0,0,0,.54);">apartment</mat-icon>
                        </h4>
                        <h1 class="card-title" style="margin-left: 17px;color: rgba(0,0,0,.54);">Warehouse</h1>
                        <button class="close" mat-button (click)="onNoClick()">X</button>
                        <!-- <h1 class="card-title" >Warehouse</h1> -->
                    </div>
                    <!-- <div class="card-body"> -->
                    <form>
                        <div class="row">

                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Warehouse Name" name="name" id="name"
                                        [(ngModel)]="projectWareHouseModel.name" required="true">
                                    <!-- <span class="text-danger-error"
                                            *ngIf="!projectWareHouseModel.name && !isFilledAllRequiredField">
                                            Warehouse Name is required.
                                        </span> -->
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Region" type="email" name="region"
                                        [(ngModel)]="projectWareHouseModel.region" id="region" required="true">
                                    <!-- <span class="text-danger-error"
                                            *ngIf="!projectWareHouseModel.region && !isFilledAllRequiredField">
                                            Warehouse Region is required.
                                        </span> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="City" type="text" name="city" id="city" required="true"
                                        [(ngModel)]="projectWareHouseModel.city">
                                    <!-- <span class="text-danger-error"
                                            *ngIf="!projectWareHouseModel.city && !isFilledAllRequiredField">
                                            City is required.
                                        </span> -->
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Street" type="text" name="street" id="street"
                                        required="true" [(ngModel)]="projectWareHouseModel.street">
                                    <!-- <span class="text-danger-error"
                                            *ngIf="!projectWareHouseModel.street && !isFilledAllRequiredField">
                                            Street is required.
                                        </span> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <div style="margin: 24px 0px 0px 0px;">
                            <app-map></app-map>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 25px;">
                                <button mat-raised-button type="submit" class="btn  saveButton">Save</button>
                                <button mat-raised-button style="margin-right: 10px;" type="button"
                                    class="btn  saveButton">Deactivate</button>
                                <button mat-raised-button type="button" class="btn  deActiveButton"
                                    (click)="onNoClick()">Close</button>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                    <!-- </div> -->
                </div>
            </div>

        </div>
    </div>

</div>