.mat-tab-group {
    margin-bottom: 48px;
  }


  /* /deep/ .mat-tab-label-active{
    background-color: red ;
    opacity: 1 !important;
  } */


  
.btnaddproject{
    width: 200px;
    background-color:  #3ac47d;
    box-shadow: 0 0.125rem 0.625rem rgba(75, 240, 54, 0.4), 0 0.0625rem 0.125rem rgba(27, 238, 91, 0.5));

}

.btn{
    width: 200px;
    background-color:  #16aaff;
    box-shadow: 0 0.125rem 0.625rem rgba(22,170,255,0.4), 0 0.0625rem 0.125rem rgba(22,170,255,0.5);

}

.projectBtn {
    width: 125px;
    border-radius: 13px;
    background-color: aliceblue;
    color: black;
    border-color: grey !important; 
}


/deep/ .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0em 0 0em 0;
}

/deep/ .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 0em;
}


.tblHeader{
    font-size: 18px;
    font-weight: 600;
}

.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    width: 24px;
    margin-top: -40px;
    color: green;
}

