<div class="app-container">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading" style="padding-left: 85px;">
                    <div class="page-title-icon">
                        <mat-icon style="font-size: 60px;"> list_alt</mat-icon>
                    </div>
                    <div>
                        Hotel
                        <div class="page-title-subheading">
                            <b>Status:</b> In Progress
                        </div>
                    </div>
                </div>
                <div class="page-title-actions" style="padding-right: 65px;">
                    <div class="d-inline-block dropdown">
                        <button mat-raised-button color="primary" class="btn">Edit</button>
                        <button mat-raised-button color="primary" class="btnaddproject" style="margin: 15px;"
                        (click)="addNewPoject()">Add to
                            Project</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <mat-tab-group animationDuration="0ms">
                    <mat-tab label="Overview">
                        <app-overview-list></app-overview-list>
                    </mat-tab>
                    <mat-tab label="PRs">
                        <app-pr-list></app-pr-list>
                    </mat-tab>
                    <mat-tab label="Offers">
                        <app-offer-list></app-offer-list>
                    </mat-tab>
                    <mat-tab label="Orders">
                        <app-order-list></app-order-list>
                    </mat-tab>
                    <mat-tab label="Project Users">
                        <app-project-list-users></app-project-list-users>
                    </mat-tab>
                    <mat-tab label="Project Warehouses">
                        <app-project-warehouses-list></app-project-warehouses-list>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>