<div class=" pd-row" style="
background-color: #0e0e0e4f;
height: 100%;">
    <mat-card>
        <mat-card-content>
            <div class="row width100 header ">
                <div class="width100 text-center">
                    Purchase Requisition
                    <div>
                       
                    </div>
                </div>
            </div>
            <div class="row width100 dsplFlx">
                <div class="width50">
                    <div style="padding: 40px;">
                        <div style="font-size: 20px;">
                            Hotel Project
                        </div>
                        <div style="color: rgba(0,0,0,.54);font-size: 14px;">
                            <mat-label>Requester:</mat-label>Mohammed Yasser Al-Najjar
                        </div>
                        <div style="color: rgba(0,0,0,.54);font-size: 14px;">
                            <mat-label>Date:</mat-label>19/08/2019
                        </div>
                        <div style="color: rgba(0,0,0,.54);font-size: 14px;">
                            <mat-label>Time:</mat-label>11:39:30
                        </div>
                    </div>
                </div>
                <div class="width50 text-right">
                    <div style="padding: 40px;">
                        <div style="font-size: 20px;">
                            PR 1210
                        </div>
                        <div style="font-size: 14px;">
                            <a>offer</a></div>
                        <div style="font-size: 14px;">Central Warehouse</div>
                        <div>
                            <mat-form-field>
                                <select matNativeControl required>
                                    <option value="volvo">Central Ware House</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div style="font-size: 14px;">
                            <mat-icon style="float: right;
                                margin: 3px;
                                color: grey;">settings</mat-icon>
                            <mat-icon style="float: right;
                                margin: 3px;
                                color: grey;">local_printshop</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <mat-icon style="font-size: 49px;
            color: rgb(129, 199, 132);" (click)="addProduct()">add</mat-icon>
            <div class="row width100" style="    margin-left: 0px;">
                <div class="example-container mat-elevation-z8">
                    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
                        (matSortChange)="onSortData($event)">

                        <ng-container *ngFor="let column of columns; let i = index" matColumnDef="{{ column.field }}">


                            <!-- <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                              [checked]="selection.hasValue() && isAllSelected()"
                                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                                              [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                              </th> -->

                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <span *ngIf="column.field !== 'category' && column.field !== 'select'">
                                    {{ column.field}}
                                </span>
                                <span *ngIf="column.field == 'select'">
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </span>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span
                                    *ngIf="column.field !== 'Vendor' && column.field !== 'category' && column.field !== 'select'">
                                    {{ row[column.field] }}
                                </span>

                                <span *ngIf="column.field == 'Vendor'">
                                    <mat-label>Vendor</mat-label>
                                    <mat-select>
                                        <mat-option value="vendor" *ngFor="let vendor of vendorList">{{vendor}}
                                        </mat-option>
                                    </mat-select>
                                </span>
                                <span *ngIf="column.field == 'select'">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </span>
                            </mat-cell>


                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        <!-- Group header -->
                        <ng-container matColumnDef="groupHeader">
                            <mat-cell colspan="999" *matCellDef="let group">
                                <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
                                <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
                                <strong>{{group[groupByColumns[group.level-1]]}}
                                    ({{group.totalCounts}})</strong>
                            </mat-cell>
                        </ng-container>

                        <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup;"
                            (click)="groupHeaderClick(row)"> </mat-row>

                    </mat-table>
                </div>
            </div>
            <div class="row width100">
                <div style="margin-left: 3%;">
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Add detail you want to remember"></textarea>
                    </mat-form-field>
                </div>
                <div style="margin-top: 25px;width: 75%;">
                    <button mat-raised-button style="margin-left: 10px;" type="button" class="btn  saveButton"
                    (click)="back()"> Back
                    </button>
                    <button mat-raised-button type="submit" class="btn  saveButton"
                        (click)="addProductFromCatalog()">Add Products from Catalog</button>
                    <button mat-raised-button style="margin-right: 10px;" type="button" class="btn  saveButton"
                        (click)="sendRFQ()">Send
                        RFQ</button>
                    <button mat-raised-button style="margin-right: 10px;" type="button" class="btn  saveButton"
                        (click)="issuePO()"> Issue PO
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>