@media (min-width: 1200px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
}
}

@media (min-width: 992px)
{
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 576px)
{
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 1200px)
{
    .container {
        max-width: 1140px;
    }
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}



.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) 
{
    .col-sm-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}


@media (min-width: 576px) 
{
    .col-sm-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

@media (min-width: 576px) 
{
    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}


@media (min-width: 576px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 576px) {
    .col-sm-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
}


.header {
    text-align: center;
    text-decoration: underline;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    font-size: 28px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right!important;
}

.text-left {
    text-align: left!important;
}

.width100{
    width: 100%;
}

.width50{
    width: 50%;
}
.dsplFlx{
    display: flex;
}


.example-container {
    height: 400px;
    overflow: auto;
    width: 100%;
    box-shadow: none;
    border: 1px solid gainsboro;
  }
  
  table {
    width: 100%;
  }

  .saveButton{
    float: right;
    color: white;
    background-color: green;
    font-weight: 400;
    padding: 0px 40px 0px 40px;
    cursor: pointer;
  }
  
  .deActiveButton {
    float: right;
    color: white;
    background-color: 0;
    font-weight: 400;
    
    cursor: pointer;
    margin-right: 10px;
    background-color: red;
  }
  .close{
    float: right;
    color: black;
    font-size: 20px;cursor: pointer;
  }


  .pd-row {
    padding: 25px 150px 0px 150px;
}
  
.tblHeader{
    font-size: 18px;
    font-weight: 600;
}

.mat-header-cell {
    font-size: 18px;
    font-weight: 600;
}