.header{
    text-align: center;
    background-color: green;
    padding: 10px;
    color: white;
    
}

.margin10{
    margin: 10px;
}

.width20{
    width: 20%;
}

.width80{
    width: 80%;
}

.dsplFlx{
    display: flex;
}

#item {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #item td, #item th {
    border: 1px solid black;
    padding: 8px;
  }
  
  #item tr:nth-child(even){background-color: #F5F3F0;}
  
  #item tr:hover {background-color: #F5F3F0;}
  
  #item th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    
    background-color: #F5F3F0;
    color: black;
  }
