<div class="row" style="width: 100%;">
  <div class="header margin10">
    Offer Detail
  </div>
  <div style="width: 100%;" class="dsplFlx">
    <div class="margin10 width20">
      <app-items></app-items>
    </div>
    <div class="margin10 width80 dsplFlx">
      <div style="margin-right: 5px;">
        <app-brands></app-brands>
      </div>
      <div style="margin-right: 5px;">
        <app-brands></app-brands>
      </div>

    </div>
  </div>
  <div style="width: 100%;">
    <div class="margin10 width20">
      <table id="item">

        <tr>
          <td style="color: red;">Total</td>
          <td style="color: red;">SAR 4560</td>
        </tr>
        <tr>
          <td>VAT (5%)</td>
          <td>SAR 228</td>

        </tr>
        <tr>
          <td>Shipping</td>
          <td>SAR 50</td>
        </tr>
        <tr>
          <td style="color: red;">Total + Shipping</td>
          <td style="color: red;">SAR 4838</td>
        </tr>
        <tr>
          <td >Average ETA</td>
          <td>3 Days</td>
        </tr>


      </table>
    </div>

  </div>

</div>