table {
    width: 100%;
  }


  .container {
    width: 100%;
    margin: 8vh 0px;
}

.tblHeader{
    font-size: 18px;
    font-weight: 600;
}

.btn{
    width: 200px;
    background-color: green;
    box-shadow: 0 0.125rem 0.625rem rgba(72, 208, 151, 0.4), 0 0.0625rem 0.125rem rgba(109, 234, 171, 0.5);

}
/deep/ .progressBar1 .mat-progress-bar-fill::after {
    background-color: lightgreen ;
  }


  /deep/ .progressBar2 .mat-progress-bar-fill::after {
    background-color: #354cce;
  }


  /deep/ .progressBar1 .mat-progress-bar-fill::after {
    background-color: lightgreen ;
  }


  /deep/ .progressBar2 .mat-progress-bar-fill::after {
    background-color: #354cce;
  }

  .mat-progress-bar{
    display: block;
    height: 6px;
    overflow: hidden;
    position: relative;
    transition: opacity 250ms linear;
    width: 100%;
    margin-top: 5px;
    margin-right: 8px;
  }


  form {
    padding : 30px;
  }

  .printIcon{
    margin-top: 15px;
    float: right;
    
  }
  .width150{
    width: 150px;
  }

  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    width: 24px;
    margin-top: -40px;
    color: green;
}


.mat-elevation-z8 {
  box-shadow: none;
  border: 1px solid gainsboro;
}

.tblHeaderht{
  width:50%;display:flex;flex-direction: row-reverse;
}




