

<div class="app-container">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <mat-icon style="font-size: 60px;"> list_alt</mat-icon>
                    </div>
                    <div>Projects
                        <div class="page-title-subheading">
                            <div class="width150">Project Value</div>
                            <mat-progress-bar mode="determinate" value="100" class="progressBar1"></mat-progress-bar>
                            <div>SR142,209.00</div>
                        </div>
                        <div class="page-title-subheading">
                            <div class="width150">Total Spending</div>
                            <mat-progress-bar mode="determinate" value="70" class="progressBar2"></mat-progress-bar>
                            <div>SR128,246.00</div>
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">

                    <div class="printIcon">
                        <mat-icon style="color: grey;">settings</mat-icon>
                        <mat-icon style="color: grey;">local_printshop</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-card mb-3 card">
            <div class="card-body" style="display: flex;">
                <div style="width:50%;display:flex">
                    <div>
                        <mat-form-field>
                            <mat-label>Status</mat-label>
                            <mat-select>
                                <mat-option value="option">In progress</mat-option>
                                <mat-option value="option">Done</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div style="margin-left: 20px;">
                        <mat-form-field>
                            <mat-label>Select</mat-label>
                            <mat-select>
                                <mat-option value="option">All customers</mat-option>
                                <!-- <mat-option value="option">edit</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="tblHeaderht">

                    <div style="margin-left: 20px;">
                        <div class="d-inline-block dropdown">
                            <button mat-raised-button color="primary" class="btn" (click)="addNewProject()">New Project</button>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width" style="    width: 250px;
                        margin-right: 20px;">
                            <input type="tel" matInput placeholder="Search all Projects">
                            <!-- <mat-icon>search</mat-icon> -->
                        </mat-form-field>
                    </div>
                </div>

            </div>
        </div>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="">
                    <ng-container matColumnDef="projectName">
                        <th mat-header-cell *matHeaderCellDef class="tblHeader" style="width: 60%;"> Project </th>
                        <td mat-cell *matCellDef="let element" style="width: 60%;" (click)="projectDetail()">
                            {{element.projectName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Value">
                        <th mat-header-cell *matHeaderCellDef class="tblHeader" style="width: 20%;"> Value </th>
                        <td mat-cell *matCellDef="let element" style="width: 20%;" (click)="projectDetail()">
                            {{element.Value}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="startingDate">
                        <th mat-header-cell *matHeaderCellDef class="tblHeader" style="width: 20%;"> Starting Date </th>
                        <td mat-cell *matCellDef="let element" style="width: 20%;" (click)="projectDetail()">
                            {{element.startingDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef class="tblHeader" style="width: 20%;"> Actions </th>
                        <td mat-cell *matCellDef="let element" style="width: 20%;" (click)="projectDetail()">
                            <mat-form-field>
                                <mat-label>Options</mat-label>
                                <mat-select>
                                    <mat-option value="option">add</mat-option>
                                    <mat-option value="option">edit</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>