<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> No. </th>
      <td mat-cell *matCellDef="let element" (click)="viewProjectUser()"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="userDetails">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> User Details </th>
      <td mat-cell *matCellDef="let element" (click)="viewProjectUser()"> {{element.userDetails}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="userPosition">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> User Position </th>
      <td mat-cell *matCellDef="let element" (click)="viewProjectUser()"> {{element.userPosition}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> Level </th>
      <td mat-cell *matCellDef="let element" (click)="viewProjectUser()"> {{element.level}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="tblHeader"> Status </th>
        <td mat-cell *matCellDef="let element" (click)="viewProjectUser()"> {{element.status}} </td>
      </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="tblHeader" style="width: 20%;"> Action </th>
        <td mat-cell *matCellDef="let element" style="width: 20%;">
            <mat-form-field appearance="fill">
                <mat-label>Manage User</mat-label>
                <mat-select>
                    <mat-option value="option">Manage User</mat-option>
                    <mat-option value="option">Manage User</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)" >
    </tr>
  </table>
  