<table id="item">
    <tr>
        <th style="width:80%;text-align: center;">Item/ Brand</th>
        <th></th>
    </tr>
    <tr>
        <th>Pipe Fittings</th>
        <th>Total Qty</th>
    </tr>
    <tr>
        <td>20mm Coupler EF PE100 PN16</td>
        <td>32</td>

    </tr>
    <tr>
        <td>25mm Coupler EF PE100 PN16</td>
        <td>53</td>
    </tr>
    <tr>
        <td colspan="2"><b>Sub total</b></td>
    </tr>
    <tr>
        <td colspan="2">Shipment</td>
    </tr>
    <tr>
        <td colspan="2">ETA</td>
    </tr>

</table>