#item {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #item td, #item th {
    border: 1px solid black;
    padding: 8px;
  }
  
  #item tr:nth-child(even){background-color: #F5F3F0;}
  
  #item tr:hover {background-color: #ddd;}
  
  #item th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    
    background-color: #E4DED4;
    color: black;
  }