<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> No. </th>
      <td mat-cell *matCellDef="let element" > {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> Date </th>
      <td mat-cell *matCellDef="let element"  (click)="viewPRDetails()"> {{element.date}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> Type </th>
      <td mat-cell *matCellDef="let element" (click)="viewPRDetails()"> {{element.type}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef class="tblHeader"> Number </th>
      <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="tblHeader" style="width: 20%;"> Action </th>
        <td mat-cell *matCellDef="let element" style="width: 20%;">
            <mat-form-field appearance="fill">
                <mat-label>Edit PRs</mat-label>
                <mat-select>
                    <mat-option value="option">Edit PRs</mat-option>
                    <mat-option value="option">Edit PRs</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)" >
    </tr>
  </table>
  