
<mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
       
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">

    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <button mat-raised-button color="primary" style="background: green;" class="btn" (click)="addNewWarehouse()">Add Warehouse</button>
    </mat-grid-tile>
</mat-grid-list>
<div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="tblHeader"> No. </th>
            <td mat-cell *matCellDef="let element" (click)="viewWarehouseDetails()" > {{element.position}} </td>
          </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="tblHeader"> Warehouse </th>
            <td mat-cell *matCellDef="let element" (click)="viewWarehouseDetails()"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="tblHeader" > Details </th>
            <td mat-cell *matCellDef="let element" (click)="viewWarehouseDetails()" > {{element.details}} </td>
        </ng-container>
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef class="tblHeader" > Location </th>
            <td mat-cell *matCellDef="let element" > {{element.location}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="tblHeader" > Status </th>
            <td mat-cell *matCellDef="let element" > {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef class="tblHeader" > Actions </th>
            <td mat-cell *matCellDef="let element" >
                <mat-form-field appearance="fill">
                    <mat-label>Options</mat-label>
                    <mat-select>
                        <mat-option value="option">add</mat-option>
                        <mat-option value="option">edit</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    </table>
</div>