<mat-grid-list cols="12" rowHeight="50px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-label style="font-size: 25px;
        font-weight: 500;">New Project</mat-label>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="10" [rowspan]="1">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-label style="font-size: 25px;
        font-weight: 500;">WS190022</mat-label>
    </mat-grid-tile>
</mat-grid-list>

<div class="main-content" style="width: 1000px;margin-left: 5%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger" style="display: flex;">
                        <h4 class="card-title" style="width: 80%;">New Project</h4>
                        <h4 class="card-title">WS190022</h4>

                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="validate(documentEditForm.valid)" #documentEditForm="ngForm">
                            <div class="row">

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Project Name"
                                            [(ngModel)]="projectModel.projectName" name="projectName" id="projectName"
                                            required="true">
                                        <span class="text-danger-error"
                                            *ngIf="!projectModel.projectName && !isFilledAllRequiredField">
                                            Project Name is required.
                                        </span>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Customer Name" type="email"
                                            [(ngModel)]="projectModel.customerName" name="customerName"
                                            id="customerName" required="true">
                                        <span class="text-danger-error"
                                            *ngIf="!projectModel.customerName && !isFilledAllRequiredField">
                                            Customer Name is required.
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Project Number" type="text"
                                            [(ngModel)]="projectModel.projectNumber" name="projectNumber"
                                            id="projectNumber" required="true">
                                        <span class="text-danger-error"
                                            *ngIf="!projectModel.projectNumber && !isFilledAllRequiredField">
                                            Project Number is required.
                                        </span>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Project Value" type="text"
                                            [(ngModel)]="projectModel.projectValue" name="projectValue"
                                            id="projectValue" required="true">
                                        <span class="text-danger-error"
                                            *ngIf="!projectModel.projectValue && !isFilledAllRequiredField">
                                            Project Value is required.
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Project Stage</mat-label>
                                        <mat-select [(ngModel)]="projectModel.projectStage" name="projectStage"
                                            id="projectStage" required="true">
                                            <mat-option value="option">Option</mat-option>
                                        </mat-select>
                                        <span class="text-danger-error"
                                            *ngIf="!projectModel.projectStage && !isFilledAllRequiredField">
                                            project Stage is required.
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="label">Notes</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Add more details"
                                            [(ngModel)]="projectModel.notes" id="notes" name="notes"
                                            required="true"></textarea>
                                        <span class="text-danger-error"
                                            *ngIf="!projectModel.notes && !isFilledAllRequiredField">
                                            Notes is required.
                                        </span>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn  saveButton"
                                (click)="documentEditForm.ngSubmit.emit();">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>