/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-danger-error {
    color: rgb(220, 53, 69) !important;
    font-size: 10pt !important;
  }

  .app-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background: #f1f4f6;
}
.app-main__inner{
  padding: 30px 30px 0;
  flex: 1;
}

.app-page-title{
  padding: 30px;
  margin: -30px -30px 30px;
  position: relative;
  background: rgba(255,255,255,0.45);
}
  
.app-page-title .page-title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.app-page-title .page-title-heading {
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  align-content: center;
  align-items: center;
}

.app-page-title .page-title-actions {
  margin-left: auto;
}

.app-page-title .page-title-icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: .83333rem;
  margin: 0 30px 0 0;
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  border-radius: .25rem;
  width: 60px;
  height: 60px;
}
.app-page-title .page-title-subheading {
  padding: 15px 0 0;
  font-size: .88rem;
  opacity: .6;
  display: flex;
  width: 600px;
}
.card.mb-3 {
  margin-bottom: 30px !important;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  border-width: 0;
  transition: all .2s;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(26,54,126,0.125);
  border-radius: .25rem;
}

.card-body{
  flex: 1 1 auto;
  padding: 1.25rem;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}