<!-- <ol>
    <li>
        <mat-form-field>
            <mat-label>What's your name?</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
    </li>
    <li *ngIf="animal">
        You chose: <i>{{animal}}</i>
    </li>
</ol> -->


<!-- <h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
    <p>What's your favorite color?</p>
    <mat-form-field>
        <input matInput>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
</div> -->



<!-- <div class="container">
    <div class=" row">
        <div class="col-sm">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Warehouse Name" [(ngModel)]="projectWareHouseModel.name" name="name"
                    id="name" required="true">
                <span class="text-danger-error" *ngIf="!projectWareHouseModel.name && !isFilledAllRequiredField">
                    Warehouse Name is required.
                </span>
            </mat-form-field>
        </div>
    </div>
    <div class=" row">
        <div class="col-sm">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Warehouse Name" [(ngModel)]="projectWareHouseModel.name" name="name"
                    id="name" required="true">
                <span class="text-danger-error" *ngIf="!projectWareHouseModel.name && !isFilledAllRequiredField">
                    Warehouse Name is required.
                </span>
            </mat-form-field>
        </div>
    </div>
    <div class=" row">
        <div class="col-sm">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Warehouse Name" [(ngModel)]="projectWareHouseModel.name" name="name"
                    id="name" required="true">
                <span class="text-danger-error" *ngIf="!projectWareHouseModel.name && !isFilledAllRequiredField">
                    Warehouse Name is required.
                </span>
            </mat-form-field>
        </div>
    </div>
</div> -->